/* =================== БОТ =================== */
.footer {
  text-align: center;
  padding: 127px 0px 123px;
}
.bot-title {
  margin-bottom: 30px;
}
.bot-text {
  margin-bottom: 30px;
  max-width: 275px;
  margin-left: auto;
  margin-right: auto;
}
.bot-btn {
  display: flex;
  margin-bottom: 87px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 97px;

  background-color: #070707;
  color: #f6f6f6;
  border-radius: 50px;
  border: 0px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  font-size: 18px;
  line-height: 1.2;

  @media (min-width: 945px) {
    // width: 181px;
    padding: 13px 29px;
  }
}
.social-list {
  display: flex;
  margin-bottom: 45px;
  justify-content: center;
}
.social-item:not(:last-child) {
  margin-right: 61px;
}
.text-secondary {
  max-width: 243px;
  margin-left: auto;
  margin-right: auto;
  color: #828282;
}
