<!-- About -->
<section class="about">
  <div class="container">
    <h2 class="about-title title">About me</h2>
    <ul class="biography-list list">
      <li class="biography-item item">
        <p class="biography-text text">Hi, I'm Denis – UX/UI designer from Minsk.</p>
        <p class="text">I'm interested in design and everything connected with it.</p>
      </li>

      <li class="biography-item item">
        <p class="biography-text text">
          I'm studying at courses "Web and mobile design interfaces" in IT-Academy.
        </p>
      </li>
      <li class="biography-item item">
        <p class="biography-text text">
          Ready to implement excellent projects<br />with wonderful people.
        </p>
      </li>
    </ul>
  </div>
</section>

<section class="advantages">
  <div class="container">
    <h3 class="advantages-title title">Skills</h3>
    <p class="advantage-text text">I work in such programs as</p>

    <ul class="program-list list">
      <li class="program-item item">
        <a href="" class="program-link link">
          <svg class="program-icon" width="89" height="88">
            <use href="./images/symbol-defs.svg#photoshop"></use>
          </svg>
          <div class="wrapper-card">
            <p class="program-text text">Adobe Photoshop</p>
            <div class="appraisal-icons">
              <ul class="appraisal-list list">
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star"></use>
                  </svg>
                </li>
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star"></use>
                  </svg>
                </li>
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star"></use>
                  </svg>
                </li>
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star"></use>
                  </svg>
                </li>
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star-1"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="program-item item">
        <a href="" class="program-link">
          <svg class="program-icon" width="89" height="88">
            <use href="./images/symbol-defs.svg#Adobe-Illustrator"></use>
          </svg>
          <div class="wrapper-card">
            <p class="program-text text">Adobe After Effects</p>
            <div class="appraisal-icons">
              <ul class="appraisal-list list">
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star"></use>
                  </svg>
                </li>
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star"></use>
                  </svg>
                </li>
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star"></use>
                  </svg>
                </li>
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star"></use>
                  </svg>
                </li>
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star-1"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="program-item item">
        <a href="" class="program-link">
          <svg class="program-icon" width="89" height="88">
            <use href="./images/symbol-defs.svg#Adobe-After-Effects"></use>
          </svg>
          <div class="wrapper-card">
            <p class="program-text text">Adobe Illustrator</p>
            <div class="appraisal-icons">
              <ul class="appraisal-list list">
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star"></use>
                  </svg>
                </li>
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star"></use>
                  </svg>
                </li>
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star"></use>
                  </svg>
                </li>
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star-1"></use>
                  </svg>
                </li>
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star-1"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>

      <li class="program-item item">
        <a href="" class="program-link">
          <svg class="program-icon" width="89" height="88">
            <use href="./images/symbol-defs.svg#Figma"></use>
          </svg>
          <div class="wrapper-card">
            <p class="program-text text">Figma</p>
            <div class="appraisal-icons">
              <ul class="appraisal-list list">
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star"></use>
                  </svg>
                </li>
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star"></use>
                  </svg>
                </li>
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star"></use>
                  </svg>
                </li>
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star"></use>
                  </svg>
                </li>
                <li class="appraisal-item item">
                  <svg class="program-icon__star" width="26" height="26">
                    <use href="./images/symbol-defs.svg#Star-1"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
