<!-- Бот -->

<section class="footer">
  <div class="container">
    <div class="bot">
      <h3 class="bot-title title">Contacts</h3>
      <p class="bot-text text">Want to know more or just chat? You are welcome!</p>
      <button type="button" class="bot-btn">Send message</button>
      <ul class="social-list list">
        <li class="social-item item">
          <a href="">
            <svg class="social-icon" width="40" height="40">
              <use href="./images/symbol-defs.svg#in"></use>
            </svg>
          </a>
        </li>
        <li class="social-item item">
          <a href="">
            <svg class="social-icon" width="40" height="40">
              <use href="./images/symbol-defs.svg#insta"></use>
            </svg>
          </a>
        </li>
        <li class="social-item item">
          <a href="">
            <svg class="social-icon" width="40" height="40">
              <use href="./images/symbol-defs.svg#be"></use>
            </svg>
          </a>
        </li>
        <li class="social-item item">
          <a href="">
            <svg class="social-icon" width="40" height="40">
              <use href="./images/symbol-defs.svg#ball"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="text-secondary text">Like me on LinkedIn, Instagram, Behance, Dribble</p>
    </div>
  </div>
</section>
