<!-- Шапка -->
<header class="header">
  <div class="container">
    <div class="header-menu">
      <ul class="navigator-list list">
        <li class="navigaror-item item">
          <a href="" class="navigaror-link navigaror-link__current link"> Home</a>
        </li>
        <li class="navigaror-item item">
          <a href="" class="navigaror-link link">About me</a>
        </li>
        <li class="navigaror-item item">
          <a href="" class="navigaror-link link">Skills</a>
        </li>
        <li class="navigaror-item item">
          <a href="" class="navigaror-link link">Portfolio</a>
        </li>
        <li class="navigaror-item item">
          <a href="" class="navigaror-link link">Contacts</a>
        </li>
      </ul>
    </div>
    <div class="contacts">
      <ul class="contacts__list">
        <li class="contacts__item">
          <a href="" class="contacts__link"></a>
        </li>
        <li class="contacts__item"></li>
      </ul>
    </div>
  </div>
</header>
